<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<h2>User Account Error</h2>
<p>Your account is not currently attached to a vendor.</p>

</body>
</html>
