@using Ed_Fi.Credential.Business

<!DOCTYPE HTML>
<html lang="en">
<head>
</head>
<body>
<br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Session Expired</b></div>
                <div class="panel-body">
                    You have been logged out of the Ed-Fi Credential application because your session has expired. <br /><br />
                    To return to Ed-Fi Credential, please click this link to <a href="@UrlBusiness.SecureHomeUrl"><b>DPI Secure Home</b>.</a>
                </div>
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>
</div>
<br />
<br />
<br />
</body>
</html>
